/* BEGIN RESET */
html,body,p,div,img,h1,h2,h3,h4,li,ul,ol,dl,dd,dt,form,pagele,td,tr {
	margin:0px; 
	padding:0px; 
	border:0px; 
	border-collapse:separate; 
	border-spacing:0px;
}

* :focus { outline: 0; }
textarea { resize: none; }	

/* END RESET */

@font-face {
	font-family: 'Bebas';
	src: url('fonts/BebasNeue-webfont.eot');
	src: local('¢'), url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype'), url('fonts/BebasNeue-webfont.svg#webfontAGQ6uv7S') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-size: 11px;
	font-family: Arial, sans-serif;
	line-height: 18px;
	color: #8d8d8d;
	background-color: #212121;
}

/* BACKGROUND CLASSES */
.southie {

    background: #212121 url(../img/backgrounds/city.jpg) no-repeat;
	background-size:100%;
}

h1 {
	font-size: 30px;
	font-family: Bebas, Arial, sans-serif;
	color: #adadad;
	text-align: center;
	font-weight: normal;
}

h2 {
	font-family: Bebas, Arial, sans-serif;
	font-weight: normal;
	font-size: 22px;
	color: #3a8196;
}

h3 {
	font-family: Bebas, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #3a8196;
}

h4 {
	font-family: Bebas, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #3a8196;
}

h5 {
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #8d8d8d;	
}

h6 {
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #8d8d8d;	
}

a {
	color: #3a8196;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* BEGIN TABLES */
table { 
	width:100%; 
	text-align: center; 
	border-collapse: collapse;
}

th   { 
	color: #303030; 
	background-color: #3a8196;
}

thead ,th ,tfoot {
	font-weight: normal;
}

th,td,caption { 
	padding: 5px 5px 5px 5px; 
	border: 1px solid #282828;
}

tr.even td  {
	background-color: #202020; 
}

/*	END TABLES */
	
h1.portfolio{
	padding-bottom: 10px;
}

/* BEGIN MISC */
blockquote  {
	letter-spacing: 0.5px;
	font-size: 11px;
	font-style: italic;
	margin: 20px 40px 20px 40px;
}

abbr, acronym { 
	border-bottom: 1px dotted #76705e; 
}

del {
	color:#76705e; 
}

pre,code,tt   { 
	font-family: 'lucida console', monospace; 
	color:#76705e; 
}

ol li {
	font-size: 11px;
}

.clear {
	clear: both;
}
/* END MISC */

#outer_wrapper {
	margin: 0 auto;
	padding-top: 50px;
	background: url(../img/top-light.png) no-repeat;
	background-position: center top;
	width: 759px;
	position: relative;
}

#inner_wrapper {
	margin: 0 auto;
	width: 476px;
	background: url(../img/content-bg.png) center repeat-y;
}

#header {
	margin: 0 auto;
	background: url(../img/content-bg-top.png) center top no-repeat;
	width: 460px;
	padding: 0 8px;
}

#header span {
	color: #3a8196;
}

#header h1 {
	padding-top: 28px;
}

#profession {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #1c1c1c;
	text-align: center;
	padding: 10px 0;
	width: 460px;
	margin-top: 20px;
}


/* NAVIGATION */

#nav {
	padding: 13px 0;
	text-align: center;
	background-color: #222222;
	margin-top: 1px;
}

#nav ul#navigation {
	list-style: none;
}

#nav ul#navigation li {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 10px;
	display: inline;
	margin: 0 8px;
	text-transform: uppercase;
}

#nav ul#navigation li a {
	color: #adadad;
	text-decoration: none;
}

#nav ul#navigation li a:hover {
	color: #3a8196;
	text-decoration: none;
}

#nav ul#navigation li a.selected {
	color: #3a8196;
}

.panel {
	margin: 0 auto;
	width: 420px;
	padding: 20px 28px 20px 28px;
	overflow: hidden;
}

.subtitle {
	font-size: 10px;
	color: #626262;
	margin: 4px 0 15px 0;
	padding-bottom: 5px;
	line-height: 10px;
	border-bottom: 1px dashed #282828;
}

/* ABOUT */

.portrait {
	float: left;
	margin-right: 20px;
	padding: 5px;
	border: 1px dashed #282828;
}

#about h3 {
	clear: both;
	padding-top: 20px;
}

.unordered_list {
	margin-top: 15px;
}

.unordered_list li {
	margin-bottom: 5px;
	list-style: none;
	display: block;
	float: left;
	background: url(../img/arrow.png) no-repeat 0 6px;
	width: 185px;
	padding: 0 10px 0px 13px;
}

/* LIST BULLETS CLASSES */

.arrow li {
	background: url(../img/bullets/arrow.png) no-repeat 0 6px;
}

/* WORK */
.portfolio {
	width: 420px;
	height: 300px;
		overflow: hidden;
	margin: 0 0 32px 0;
} 

.item h1{
	padding-bottom: 12px;
}

.item p{
	padding: 0 0 12px 0;
}

/* SOCIAL */
ul.social_links {
	display: inline-block;
	padding-top: 10px;
}

ul.social_links li:hover{
	background-color:#1b1b1b;
}

.social_links li {
	background-color: #161616;
	width: 209px;
	margin: 0px 1px 1px 0px;
	float: left;
	display: inline;	
	line-height: 16px;
	padding: 10px 0;
	cursor: pointer;
}

.social_links img {
	float: left;
	margin-left: 10px;
	margin-right: 7px;
}	

.social_links strong {
	color: #3a8196;
	font-size: 14px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	display: block;
	margin-bottom: 5px;
}

.social_links li a {
	color: #8d8d8d;
	text-decoration: none;
}

ul.social_links li.last {
	margin-right: 0 !important;
}


/* RESUME */

.topic {
	width: 140px;
	font-weight: bold;
	display: inline-block;
}

#resume h3 {
	padding-top: 20px;
}

.cv {
	clear: both;
	list-style: none;
}

.cv li {
	border-bottom: 1px dashed #282828;
	padding: 8px 0;
}

.skills {
	display: inline-block;
	width: 159px;
	margin: 0px 23px 0px -3px;
	
}

.cv li.last_cv {
	border-bottom: none;
}
.cv li:first-child {
	margin-top: -12px;
}

.level1, .level2, .level3, .level4, .level5 {
	text-indent: 99999px;
	display: inline-block;
	width: 95px;
	height: 15px;
}

/*----- Skill star levels -----*/
	.level1 {
		background: url(../img/levels/level.png) no-repeat left top;
	}
	.level2 {
		background: url(../img/levels/level2.png) no-repeat left top;
	}
	.level3 {
		background: url(../img/levels/level3.png) no-repeat left top;
	}
	.level4 {
		background: url(../img/levels/level4.png) no-repeat left top;
	}
	.level5 {
		background: url(../img/levels/level5.png) no-repeat left top;
	}

.down_cv {
	margin-top: 12px;
	padding: 7px 13px;
	text-align: center;
	border: 1px solid #282828;
	display: inline-block;
	color: #707070;
}

.down_cv:active {
	margin-top: 13px;
}

.down_cv:hover {
	color: #3a8196;
	border: 1px dashed #282828;
	text-decoration: none;
}

/* CONTACT */
#info {
	float: right;
	width: 170px;
	margin: 10px 0 0 25px;
}	

#info {
	list-style: none;
	margin: 0px 0 15px 0;
}

#info li {
	margin-bottom: 10px;
}

#info img {
	padding-right: 15px;
	vertical-align: middle;
	margin-bottom: 8px;
	float: left;
}

#info a {
	color: #8d8d8d;
}

#copy {
	float: left;
	width: 230px;
}

#info a:hover {
	color: #3a8196;
}

/* FOOTER */
#footer {
	background: url(../img/bottom-twitter-bg.png) bottom center no-repeat;
	margin: 0 auto;
	width: 460px;
	padding: 0 8px;
}

#opt {
	padding: 0px 20px 18px 20px;
}

#copyright {
	font-size: 10px;
	color: #656565;
	padding: 8px 0px 40px 0px; 
	text-align: center;	
}